################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AOC/obj
/AOC/bin/Debug/net8.0
